/*!
 * cards
 */

$bg-card-1: white;

.card_1{
	background: $bg-card-1;
	padding: 1rem;
	text-align: center;
	position: relative;
	margin-top: 130px;
	margin-bottom: 2rem;
	padding-top: 125px;

	& .card-block{
		& .card-text{
			max-height: 140px;
    		overflow: hidden;
		}
		& .btn{
			border: 10px solid #F4F4F3;
			position: absolute;
			margin: auto;
		    left: 50%;
		    @include translateX(-50%);
		}
	}

	& .card_img img{
		border: 20px solid #F4F4F3;
		position: absolute;
		height: 250px;
		width: 250px;
		margin: auto;
		top: -125px;
		right: 0;
		left: 0;
		@include border-radius(50%);
	}
}


.item,
.item-hover,
.item-hover .mask,
.item-img,
.item-info {
	width: 100%;
}

.item{
	text-align:center;
	position:relative;
	margin-top: 30px;
	@extend .shadow-depth-hover-2;
	&.item-type-line{

		& .item-hover{
			@include transition(all 300ms ease-out);	
			text-decoration:none;
			position: absolute;
			text-align:center;
			cursor:pointer;						
			display:block;
			height: 100%;
			width: 100%;
			z-index:100;

			
			&:hover {
				opacity:1;
				& .line {
					width:100%;
					color: white
				}
			}		

			& .item-info{
				position: absolute;
				color: white;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				height: 30%;
				margin: auto;
			    z-index: 10001;
				& .headline{
					font-size: 1rem;
				}
				& .date{
					font-size: 12px;
				}
			}

			& .mask {
			    background-color: #000;
				opacity: .4;
			    z-index: 10000;
			    position: absolute;
			    width: 100%;
			    height: 100%;
			}
		}

		&:hover .item-img img{
			@include transform(scale(1.2));
		}

		& .item-img {
			background-color:#7a548f;
			z-index:0;
			overflow: hidden;
			& img{
				@include transition(all 300ms ease-out);
			}
		}
	}
}